<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./mongo.css" ></link>
</head>
<body>
  
  <div class="Container flex jcenter acenter" >
    <div class="container-box" >
      <h1>MongoDb</h1>
      <div class="loader" id="loader" ></div>
  
    
    </div>
  </div>
    

  <script src="./mongo.js" ></script>
     
</body>
</html>